<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/13be2f1777.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/styles.css">
  <title>Document</title>
</head>
<body>

  <!--///////////////////////////////////////// HEADER SECTION ////////////////////////////////////////////-->

  <section class="header">

    <div class="top-header">
      <ul class="top-nav">
        <li class="top-nav__item">International</li>
        <li class="top-nav__item">Mi Community</li>
        <li class="top-nav__item">MIUI</li>
      </ul>
      <ul class="top-nav">
        <li class="top-nav__item">Sign In</li>
        <li class="top-nav__item">Sign Up</li>
      </ul>
    </div>



    <div class="wrap">
      <div class="navigation-main-products">

        <div class="navigation-main__brand">
          <img src="../img/mihome.png" alt="" class="navigation-main__brand-img">
        </div>
        <ul class="navigation-main__list">
          <li class="navigation-main__list-item"><a>Mi Phones</a></li>
          <li class="navigation-main__list-item"><a>POCOPHONE</a></li>
          <li class="navigation-main__list-item"><a>Redmi Phones</a></li>
          <li class="navigation-main__list-item"><a>Mi TV</a></li>
          <li class="navigation-main__list-item"><a>Smart Devices</a></li>
          <li class="navigation-main__list-item"><a>All Products</a></li>
          <li class="navigation-main__list-item"><a>Product Authentication</a></li>
        </ul>
      </div>
    </div>


  </section>



























    <section class="footer">
      <div class="footer__links-container">
        <div class="footer__links">
          <ul class="footer__links-list">
            <p class="footer__links-paragraph">Learn More</p>
            <li class="footer__links-list-item"><a href="">Mi 9 Lite</a></li>
            <li class="footer__links-list-item"><a href="">Redmi Note 7</a></li>
            <li class="footer__links-list-item"><a href="">MI 9T Pro</a></li>
          </ul>
        </div>
  
        <div class="footer__links">
          <ul class="footer__links-list">
            <p class="footer__links-paragraph">Support</p>
            <li class="footer__links-list-item"><a href="">Contact Us</a></li>
            <li class="footer__links-list-item"><a href="">Warranty</a></li>
            <li class="footer__links-list-item"><a href="">User Guide</a></li>
            <li class="footer__links-list-item"><a href="">Scooter Safety Notice</a></li>
  
          </ul>
        </div>
  
        <div class="footer__links">
          <ul class="footer__links-list">
            <p class="footer__links-paragraph">About Us</p>
            <li class="footer__links-list-item"><a href="">Xiaomi</a></li>
            <li class="footer__links-list-item"><a href="">Press & Media</a></li>
            <li class="footer__links-list-item"><a href="">User Agreement</a></li>
            <li class="footer__links-list-item"><a href="">Privacy Policy</a></li>
            <li class="footer__links-list-item"><a href="">Xiaomi Blog</a></li>
            <li class="footer__links-list-item"><a href="">Investor Relations</a></li>
            <li class="footer__links-list-item"><a href="">Integrity & Compliance</a></li>
          </ul>
        </div>
  
        <div class="footer__links">
          <ul class="footer__links-list">
            <p class="footer__links-paragraph">Follow Mi</p>
            <li class="footer__links-list-item">
              <svg class="svg facebook">
                <use xlink:href="../sprite/sprite.svg#facebook"></use>
              </svg>
              <a href="">Facebook</a>
            </li>
            <li class="footer__links-list-item">
              <svg class="svg youtube">
                <use xlink:href="../sprite/sprite.svg#youtube-1"></use>
              </svg>
              <a href="">Youtube</a>
            </li>
            <li class="footer__links-list-item">
              <svg class="svg insta">
                <use xlink:href="../sprite/sprite.svg#instagram"></use>
              </svg>
              <a href="">Instagram</a>
            </li>
            <li class="footer__links-list-item">
              <svg class="svg twitter">
                <use xlink:href="../sprite/sprite.svg#twitter"></use>
              </svg>
              <a href="">Twitter</a>
            </li>
            <li class="footer__links-list-item"><a href="">More Regions</a></li>
          </ul>
        </div>
      </div>
  
      <div class="copyright">
        <p class="copyright__text">
          Copyright © 2010 - 2020
  
        <span class="link">
          <a href="" class="xiaomi__link">Xiaomi</a>
  
        </span>
  
        . All Rights Reserved
        </p>
      </div>
    </section>
  
    <script src="../js/navigation.js"></script>
  </body>
  </html>