<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/13be2f1777.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/styles.css">
  <title>Document</title>
</head>
<body>

  <!--///////////////////////////////////////// HEADER SECTION ////////////////////////////////////////////-->

  <section class="header">

    <div class="top-header">
      <ul class="top-nav">
        <li class="top-nav__item">International</li>
        <li class="top-nav__item">Mi Community</li>
        <li class="top-nav__item">MIUI</li>
      </ul>
      <ul class="top-nav">
        <li class="top-nav__item">Sign In</li>
        <li class="top-nav__item">Sign Up</li>
      </ul>
    </div>



    <div class="wrap">
      <div class="navigation-main">

        <div class="navigation-main__brand">
          <img src="../img/mihome.png" alt="" class="navigation-main__brand-img">
        </div>
        <ul class="navigation-main__list">
          <li class="navigation-main__list-item"><a>Mi Phones</a></li>
          <li class="navigation-main__list-item"><a>POCOPHONE</a></li>
          <li class="navigation-main__list-item"><a>Redmi Phones</a></li>
          <li class="navigation-main__list-item"><a>Mi TV</a></li>
          <li class="navigation-main__list-item"><a>Smart Devices</a></li>
          <li class="navigation-main__list-item"><a>All Products</a></li>
          <li class="navigation-main__list-item"><a>Product Authentication</a></li>
        </ul>
      </div>
    </div>


    <div class="slider">

      <div class="slider__slide slider__current">
      </div>

      <div class="slider__slide slider__white">
      </div>

      <div class="slider__slide">
      </div>

      <div class="slider__slide">
      </div>

    </div>

    <div class="slider__buttons">
      <button class="slider__buttons--prev">
        <svg class="svg-prev">
          <use xlink:href="../sprite/sprite-arrow.svg#left-arrow"></use>
        </svg>
      </button>
      <button class="slider__buttons--next">
        <svg class="svg svg-next">
          <use xlink:href="../sprite/sprite-arrow.svg#next"></use>
        </svg>
      </button>
    </div>
      
  </section>

  
  <section class="top3">

    <div class="top3__container">
      <div class="top3__container-box">
        <img src="../img\top3\201912130005.jpg" alt="" class="top3__container-box--1">
      </div>
      <div class="top3__container-box">
        <img src="../img\top3\20191213.jpg" alt="" class="top3__container-box--2">
      </div>
      <div class="top3__container-box">
        <img src="../img\top3\camara-gl-0523.jpg" alt="" class="top3__container-box--3">
      </div>
    </div>
  </section>

  <section class="star">
    <div class="star__paragraph">
      <p class="star__border-left">_________________________________________________________________________</p>
      <p class="star__title">Star Products</p>
      <p class="star__border-right">_________________________________________________________________________</p>
    </div>


    <div class="star__container">
      <div class="luggage">
        <img src="../img\starproducts\201912130002.jpg" alt="">
      </div>
      <div class="star__3other">
        <div class="star__3other-top">
          <div class="star__3other-top-1">
            <img src="../img\starproducts\201912130003.jpg" alt="">
          </div>
          <div class="star__3other-top-2">
            <img src="../img\starproducts\5.jpg" alt="">
          </div>
        </div>
        <div class="star__3other-bottom">
          <img src="../img\starproducts\7.jpg" alt="">
        </div>
      </div>
    </div>
  </section>


  <section class="videos">
    <div class="star__paragraph">
      <p class="star__border-left">_________________________________________________________________________</p>
      <p class="star__title">videos</p>
      <p class="star__border-right">_________________________________________________________________________</p>
    </div>

    <div class="videos__container">
      <div class="videos__container--redmi">

        <iframe class="videos__container--redmi-1" src="https://www.youtube-nocookie.com/embed/ADCPxT__ng4?color=white"></iframe>
      </div>

      <div class="videos__container--note">
        <iframe class="videos__container--note-2" width="560" height="315" src="https://www.youtube.com/embed/mdxoCkZk6vU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="videos__container--smart">
        <iframe class="videos__container--smart-3" width="560" height="315" src="https://www.youtube.com/embed/ADCPxT__ng4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

  </section>

  <section class="cta">
    <div class="cta__container-left">
      <div class="cta__container-text-left">
        <p class="cta__heading">Let's Stay in Touch</p>
        <p class="cta__paragraph">Get updates on sales specials and more</p>
      </div>

      <div class="cta__container-input">
        <form action="">
          <input class="cta__container-input-email" type="email" placeholder="Enter Email Address">
          <button>></button>
        </form>
      </div>
    </div>

    <div class="cta__container-right">
    
      <div class="cta__container-text-right">
        <p class="cta__heading">Follow MI</p>
        <p class="cta__paragraph">We want to hear from you!</p>
      </div>

      <div class="cta__container-icon">
        <svg class="svg facebook">
          <use xlink:href="../sprite/sprite.svg#facebook"></use>
        </svg>
        <svg class="svg youtube">
          <use xlink:href="../sprite/sprite.svg#youtube-1"></use>
        </svg>
        <svg class="svg insta">
          <use xlink:href="../sprite/sprite.svg#instagram"></use>
        </svg>
        <svg class="svg twitter">
          <use xlink:href="../sprite/sprite.svg#twitter"></use>
        </svg>
      </div>

    </div>
  </section>

  <section class="footer">
    <div class="footer__links-container">
      <div class="footer__links">
        <ul class="footer__links-list">
          <p class="footer__links-paragraph">Learn More</p>
          <li class="footer__links-list-item"><a href="">Mi 9 Lite</a></li>
          <li class="footer__links-list-item"><a href="">Redmi Note 7</a></li>
          <li class="footer__links-list-item"><a href="">MI 9T Pro</a></li>
        </ul>
      </div>

      <div class="footer__links">
        <ul class="footer__links-list">
          <p class="footer__links-paragraph">Support</p>
          <li class="footer__links-list-item"><a href="">Contact Us</a></li>
          <li class="footer__links-list-item"><a href="">Warranty</a></li>
          <li class="footer__links-list-item"><a href="">User Guide</a></li>
          <li class="footer__links-list-item"><a href="">Scooter Safety Notice</a></li>

        </ul>
      </div>

      <div class="footer__links">
        <ul class="footer__links-list">
          <p class="footer__links-paragraph">About Us</p>
          <li class="footer__links-list-item"><a href="">Xiaomi</a></li>
          <li class="footer__links-list-item"><a href="">Press & Media</a></li>
          <li class="footer__links-list-item"><a href="">User Agreement</a></li>
          <li class="footer__links-list-item"><a href="">Privacy Policy</a></li>
          <li class="footer__links-list-item"><a href="">Xiaomi Blog</a></li>
          <li class="footer__links-list-item"><a href="">Investor Relations</a></li>
          <li class="footer__links-list-item"><a href="">Integrity & Compliance</a></li>
        </ul>
      </div>

      <div class="footer__links">
        <ul class="footer__links-list">
          <p class="footer__links-paragraph">Follow Mi</p>
          <li class="footer__links-list-item">
            <svg class="svg facebook">
              <use xlink:href="../sprite/sprite.svg#facebook"></use>
            </svg>
            <a href="">Facebook</a>
          </li>
          <li class="footer__links-list-item">
            <svg class="svg youtube">
              <use xlink:href="../sprite/sprite.svg#youtube-1"></use>
            </svg>
            <a href="">Youtube</a>
          </li>
          <li class="footer__links-list-item">
            <svg class="svg insta">
              <use xlink:href="../sprite/sprite.svg#instagram"></use>
            </svg>
            <a href="">Instagram</a>
          </li>
          <li class="footer__links-list-item">
            <svg class="svg twitter">
              <use xlink:href="../sprite/sprite.svg#twitter"></use>
            </svg>
            <a href="">Twitter</a>
          </li>
          <li class="footer__links-list-item"><a href="">More Regions</a></li>
        </ul>
      </div>
    </div>

    <div class="copyright">
      <p class="copyright__text">
        Copyright © 2010 - 2020

      <span class="link">
        <a href="" class="xiaomi__link">Xiaomi</a>

      </span>

      . All Rights Reserved
      </p>
    </div>
  </section>

  <script src="../js/navigation.js"></script>
</body>
</html>