.wrap {
  .navigation-main {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    width: 100%;
    background-color: transparent;
    transition: color 0.4s;

    &__brand {

      height: 6rem;
      width: 5.6rem;
      overflow: hidden;
      position: relative;
      margin-right: 26rem;

      &-img {
        transition: all 0.2s;
        position: absolute;
        left: -5.6rem;

        &:hover {
          left: 0;
        }
      }
    }

    &__list {
      display: flex;
      text-decoration: none;
      list-style: none;
      align-items: center;
      align-self: stretch;


      &-item {
        position: relative;
        align-self: stretch;
        display: flex;
        align-items: center;
        padding: 1rem;
        cursor: default;
        transition: color 0.2s;
        &:not(:last-child) {
          margin-right: 3.2rem;
        }

        &:hover {
          color: rgb(255,103,10);
        }
  


        & a {
          cursor: pointer;
        }
      }
    }
  }
}
    /*
.navigation-main__list-item:nth-child(1):hover ~ .sub-menus > .miphones {

  display: block;
  opacity: 1;
  transform: translateY(21rem);
}*/

.wrap {
  .navigation-main-products {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    width: 100%;
    background-color: transparent;
    transition: color 0.4s;

    &__brand {

      height: 6rem;
      width: 5.6rem;
      overflow: hidden;
      position: relative;
      margin-right: 26rem;

      &-img {
        transition: all 0.2s;
        position: absolute;
        left: -5.6rem;

        &:hover {
          left: 0;
        }
      }
    }

    &__list {
      display: flex;
      text-decoration: none;
      list-style: none;
      align-items: center;
      align-self: stretch;


      &-item {
        position: relative;
        align-self: stretch;
        display: flex;
        align-items: center;
        padding: 1rem;
        cursor: default;
        transition: color 0.2s;
        &:not(:last-child) {
          margin-right: 3.2rem;
        }

        &:hover {
          color: rgb(255,103,10);
        }
  


        & a {
          cursor: pointer;
        }
      }
    }
  }
}