.sub-menus{

  
  & .miphones {
    position: absolute;
    top: 50rem;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    font-size: 1.4rem;
    color: var(--color-black);
    transition: all 0.4s;

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;

        & a:link,
        & a:visited,
        & a:active {
          text-decoration: none;
          color: var(--color-black);
        }
      }
    }
  }
}