.top-header {
  color: var(--color-grey);
  font-size: 1.2rem;
  background-color: var(--color-black);
  padding: 1.3rem 3rem;
  display: flex;
  justify-content: space-between;

  text-decoration: none;
  text-transform: uppercase;
}